body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  
  header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .signup-options {
    text-align: center;
  }
  
  .auth-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .auth-buttons button {
    background-color: #4285f4; /* Blue for GitHub */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .linkedin-auth button {
    background-color: #0077b5; /* Blue for LinkedIn */
  }
  
  .google-auth button {
    background-color: #db4437; /* Red for Google */
  }